<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Weather_App</title>
    <link rel="shortcut icon" href="https://goldentroutwilderness.files.wordpress.com/2012/01/various-weather.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">

    <fieldset id="one">
        <h1>Weather App</h1>
        <form class="form_weather" action="/home" method="post">
            <input name="city" id="city" type="text" class="form-control" placeholder="Enter a City" required>
            <button type="submit" class="btn btn-outline-primary">Fetch Weather</button>
        </form>

        <% if(weather !== null){ %>
            <p><%= weather %></p>
           <% if(n === false ) {%>
              <form id="form-fav">
                  <input type="hidden" id="weatherCityName" value="<%= weatherCityName %>">
                  <input type="hidden" id="weatherCityId" value="<%= weatherCityId %>">
                  <input type="hidden" id="cityDegree" value="<%= weatherCityDegree %>">
                  <button class="btn btn-lg btn-danger" style="position: relative;top: -55px;left: 338px;">Favourite</button>
              </form>
            <% } %>
          <% } %>
        
          
          <% if(error !== null){ %>
            <p><%= error %></p>
          <% } %>

    </fieldset>
<h1>Favourite Cities</h1>
<div>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">City</th>
          <th scope="col">Degree</th>
        </tr>
      </thead>
      <tbody>
        <% if(userData){%>
          <% _.forEach(userData, function(val, i){ %>
          <tr>
            <th scope="row"><%= i %></th>
            <td><%=val.cityName%></td>
            <td><%=val.degree%></td>
          </tr>
         <% }) %>
        <%} else{%>
        <%}%>
      </tbody>
    </table>

  </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
</script>
<script src="/js/favCity.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
</body>
</html>